.flex-container {
    display: flex;
    align-items:center; 
    justify-content:center; 
     background-color: #FFFEF7 ; 
}

.flex-rat one {
     align-items:center; 
    justify-content:center; 
    flex: 1;
    border: 5px solid #ffdae0; 
       background-color: #FDF2E1; 
}  

.flex- rat two {
      align-items:center; 
    justify-content:center; 
     border: 5px solid #ffdae0; 
    margin-right: 20px;
       background-color: #FDF2E1; 
} 

h1 {
      font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    
} 

p1 {
      font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    } 
