.flex-container {
    display: flex;
    align-items:center; 
    justify-content:center; 
     background-color: #F6F6EB; 
}

.flex-rat {
     align-items:center; 
    justify-content:center; 
    flex: 1;
    border: 5px solid #ffdae0; 
       background-color:#F6F6EB; 
}  

.flex-child:first-rat {
      align-items:center; 
    justify-content:center; 
    margin-right: 20px;
       background-color: #F6F6EB; 
} 
