.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.p1 {
  font-family:"Lucida Console", "Courier New", monospace;
}

.p2 {
  font-family:"Lucida Console", "Courier New", monospace;
}
