 p1 {
   font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  background-color: white; 
   
   }  
img {
  width: 200px;
  border: 20px dotted white;
}
