
.flex-container {
    display: flex;
    align-items: space-between; 
    justify-content:space-between; 
     background-color: #FFFEF7 ; 
}

.flex-rat {
    flex: 1;
    border: 5px solid #ffdae0; 
       background-color:  #FFFEF7 ; 
}  

.flex-child:first-rat {
    align-items:space-between; 
    justify-content: space-between; 
    margin-right: 20px;
       background-color:  #FFFEF7; 
} 
