.flex-container {
    display: flex;
    align-items:space-evenly; 
    justify-content: space-evenly; 
     background-color:space-evenly; 
    border: 1px solid pink; 
}

.flex-rat one {
    border: 1px solid pink; 
       background-color: #fadbde; 
}  

.flex-rat two {
       border: 1px solid pink; 
    margin-right: 20px;
       background-color: #fadbde; 
} 

p1 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    
} 

li {
    background-color: milk white;
   }  

