body {
	 
	background-color: lavender;
} 
p1 {
 font-size: 1 em; 
   font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  background-color: white; 
   
   }  
img {
  width: 200px;
  border: 5px dashed white;
}

@media ( max-width:1200px) {
p1 {
	font-size: 1.25 rem; 
	}
	
}


© 2021 GitHub, Inc.

