body {
	 
	background-color: lavender;
} 
p1 {
 font-size: 18px; 
   font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  background-color: white; 
   
   }  
img {
  width: 200px;
  border: 5px dashed white;
}

@media (max-width: 480px) {
  p1 {
    font-size: 24px;
  }
}



© 2021 GitHub, Inc.

