body {
	 
	background-color: lavender;
} 
p1 {
 font-size: 1 em; 
   font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  background-color: white; 
   
   }  
img {
  width: 200px;
  border: 5px dashed white;
}

@media ( min-width: 600px) {
p1 {
	font-size: 1.25 rem; 
	}
	
}
@media ( min-width: 800px) {
p1 {
	font-size: 1.5 rem; 
	}
	
}
© 2021 GitHub, Inc.

